output_videos/.DS_Store
.DS_Store
src/mp3_transcribe_gemini/.env
src/transcribe/.env
.env
src/m3u8_downloader_generic/*
!src/m3u8_downloader_generic/*.py
!src/m3u8_downloader_generic/*.txt
!src/m3u8_downloader_generic/*.js

src/m3u8_downloader_generic1/*
!src/m3u8_downloader_generic1/*.py
!src/m3u8_downloader_generic1/*.txt
!src/m3u8_downloader_generic1/*.js

src/m3u8_downloader_generic2/*
!src/m3u8_downloader_generic2/*.py
!src/m3u8_downloader_generic2/*.txt
!src/m3u8_downloader_generic2/*.js

src/m3u8_downloader_generic3/*
!src/m3u8_downloader_generic3/*.py
!src/m3u8_downloader_generic3/*.txt
!src/m3u8_downloader_generic3/*.js

src/m3u8_downloader_generic4/*
!src/m3u8_downloader_generic4/*.py
!src/m3u8_downloader_generic4/*.txt
!src/m3u8_downloader_generic4/*.js

src/youtube_audio_downloader/Downloads